# Google Drive Sync
.tmp.drivedownload/
.tmp.driveupload/
desktop.ini
~$*

# Jupyter Notebooks
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]

# PyTorch Models & Checkpoints
*.pth
*.pt
models/
checkpoints/

# Personal Notes
notes.md
